* {
    font-family: Helvetica, sans-serif;
    color: black;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#recipe-list {
    text-align: center;
}

#recipe-list li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

#description, #ingredients, #steps {
    padding-left: 20%;
    padding-right: 20%;
}

#description p {
    font-size: 26px;
}

#description {
    padding-bottom: 25px;
}