* {
    font-family: Helvetica, sans-serif;
    color: black;
    background-color: #bbeddb;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 50px auto;
}

#recipe-list {
    text-align: center;
    margin: 20px auto;
}

#recipe-list li {
    list-style: none;
    text-align: center;
    padding: 10px 0;
    margin: 25px 35%;
    font-size: 25px;
    font-weight: bold;
    background-color: #2b2854;
}

a {
    text-decoration: none;
    background-color: #2b2854;
    color: white;
}

.recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#description, #ingredients, #steps {
    margin: auto 20%;
}

#description p {
    font-size: 26px;
}

#description {
    margin-top: 0;
    margin-bottom: 80px;
}

div h2, div h3 {
    background-color: #2b2854;
    color: white;
    padding: 20px 15px;
}

#ingredients, #steps {
    border: #2b2854 2px solid;
    border-top: none;
    margin: 30px 20%;
}